<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div id="backdrop">
    <div class="center hero-unit">
      <h1>Sample Social Network App</h1>
      <br/>
      <h2>connect with your friends and start conversations here</h2>
      <%= link_to "SIGN ME UP!", signup_path, class: "signupbtn" %>

      <div id="bquote">
        <p>
          "Sometimes you have to disconnect to stay connected. Remember the old days when you had eye contact during a conversation? When everyone wasn't looking down at a device in their hands? We've become so focused on that tiny screen that we forget the big picture, the people right in front of us." - Regina Brett
        </p>
      </div>

      <div class="made">
        <p>made with <i class="fa fa-heart"></i> and
        <%= link_to image_tag("rails.png", alt: "Rails", :class => "railsimg"), 'http://rubyonrails.org/' %> </p>
      </div>
    </div>
  </div>
<% end %>
